<body>
  <h1>Main menu</h1>
  <a routerLink="../rules"
    ><button class="myButton" type="button" name="rules">Rules</button></a
  ><br />
  <a routerLink="../game"
    ><button
      class="myButton"
      type="button"
      name="game"
      (click)="OnClickStartGame()"
    >
      Start a new game
    </button></a
  ><br />
  <a routerLink="../game"
    ><button class="myButton" type="button" name="return">
      Return to game
    </button></a
  ><br />
  <a routerLink="../credit"
    ><button class="myButton" type="button" name="credit">Credit</button></a
  >
</body>
