<table>
  <tr>
    <td>
      <div>Currently you have {{ data[0] }} workers.</div>
      <div>Your current amount of money: {{ data[1] }} HUF</div>
      <div>In this month remaining productivity is: {{ data[2] }}</div>
    </td>
    <td>
      <h3>Human Resources</h3>

      <button type="button" name="addWorker" (click)="OnClickAdd()">
        Hire worker
      </button>
      <button type="button" name="removeWorker" (click)="OnClickDelete()">
        Fire worker
      </button>
    </td>
    <td>
      <h3>History</h3>
      <div>{{ history[0] }}</div>
      <div>{{ history[1] }}</div>
      <div>{{ history[2] }}</div>
    </td>
  </tr>
  <tr>
    <td>
      <div>Materials:</div>
      <ul>
        <li>Apricot: {{ materials[0] }}</li>
        <li>Strawberry: {{ materials[1] }}</li>
        <li>Cherry: {{ materials[2] }}</li>
        <li>Sugar: {{ materials[3] }}</li>
      </ul>
    </td>
    <td>
      <h3>Buy Materials</h3>

      I want to buy...
      <input
        type="number"
        name="buyAmount"
        min="0"
        id="0"
        [(ngModel)]="materialInfo.amount"
      />
      <select [(ngModel)]="materialInfo.name">
        <option id="1" name="Apricot" value="Apricot">Apricot</option>
        <option id="2" name="Strawberry" value="Strawberry">Strawberry</option>
        <option id="3" name="Cherry" value="Cherry">Cherry</option>
        <option id="4" name="Sugar" value="Sugar">Sugar</option>
      </select>
      <button type="button" name="buy" (click)="OnClickBuy()">
        Buy selected materials
      </button>
    </td>
  </tr>
  <tr>
    <td>
      <div>Products:</div>
      <ul>
        <li>Apricot Jam: {{ products[0] }}</li>
        <li>Strawberry Jam: {{ products[1] }}</li>
        <li>Cherry Jam: {{ products[2] }}</li>
      </ul>
    </td>
    <td>
      <h3>Production</h3>

      I want to produce...<input
        type="number"
        name="produceAmount"
        min="0"
        id="0"
        [(ngModel)]="produceInfo.amount"
      />
      <select [(ngModel)]="produceInfo.name">
        <option id="1" name="Apricot Jam" value="Apricot Jam"
          >Apricot Jam</option
        >
        <option id="2" name="Strawberry Jam" value="Strawberry Jam"
          >Strawberry Jam</option
        >
        <option id="3" name="Cherry Jam" value="Cherry Jam">Cherry Jam</option>
      </select>
      <button type="button" name="produce" (click)="OnClickProduce()">
        Produce selected jam
      </button>
    </td>
    <td>
      <h3>Sell products</h3>

      I want to sell...<input
        type="number"
        name="amount"
        min="0"
        [(ngModel)]="sellInfo.amount"
      />
      <select name="product" [(ngModel)]="sellInfo.name">
        <option id="1" name="Apricot Jam" value="Apricot Jam"
          >Apricot Jam</option
        >
        <option id="2" name="Strawberry Jam" value="Strawberry Jam"
          >Strawberry Jam</option
        >
        <option id="3" name="Cherry Jam" value="Cherry Jam">Cherry Jam</option>
      </select>
      <p>for</p>
      <input type="number" name="price" min="0" [(ngModel)]="sellInfo.price" />
      <button type="button" name="sell" (click)="OnClickSell()">
        Sell selected jam
      </button>
    </td>
  </tr>

  <br />

  <h3>Options</h3>
  <button type="button" name="close" (click)="OnClickEndTurn()">
    Start a new month!</button
  ><br /><br />
  <a routerLink=""
    ><button type="button" name="return">Start a new game!</button></a
  >
</table>
