<body>
  <h1>Welcome to the MANAGER game!</h1>
  <h3>
    Your goal is to double the assets of your company which is a factory what
    produces jam.
  </h3>

  <h4>Here are the rules:</h4>
  <ul>
    <li>Your starter amount of is: 1 000 000 HUF.</li>
    <li>The salary of a worker for a month: 50 000 HUF.</li>
    <li>A worker can produce 30 units of product in a month.</li>
    <li>One round represents a month.</li>
    <li><h5>The goal is to achieve 2 000 000 HUF during the game.</h5></li>
  </ul>

  <h4>And here are the actions:</h4>
  <ul>
    <li>
      You can buy materials: in this case your materials are fruits and sugar.
    </li>
    <li>You can hire or fire workers.</li>
    <li>
      You can sell the products. Attention: the maximal price is 250% of the
      production cost.
    </li>
    <li>
      You can advertise your factory's products, it improves the sales but it
      costs money.
    </li>
    <li>You can repeat the steps above until your resources are enough.</li>
    <li>After that you have to close the month and everything starts again.</li>
  </ul>
  <div class="wrapper">
    <a routerLink="game">
      <button class="button" type="button" name="startGame">
        Let's start!
      </button>
    </a>
  </div>
</body>
